body { 
  background-color: #000000;
}

h1 {
  font-size:        120%;
  font-family:      Georgia, "Times New Roman", Times, serif;
  color:            #ffffff;
}

.box {
	width: 180px;
	height: 80px;
  border-radius: 5%;
}

.footer-app-promo{
align-content:center;
}