body { 
  background-color: #000000;
}

h1{
font-size:        230%;
  font-family:      'Times New Roman', Times, serif;
  color:            #ffffff;
  line-height:      10px;
  text-align:       center;
}

.APP{
width: 80px;
height: 20px;
margin-right: 800px;
margin-top: -45px;
margin-left:520px;
}

.Google{
width: 80px;
height: 20px;
margin-right: 2000px;
margin-top: 28px;
margin-left:720px;
}

.Phone{
width: 270px;
height: 227px;
margin-right: 2000px;
margin-top: -133px;
margin-left:1100px;
}